[Unit]
Description=Smart Helmet AI System
After=network.target sound.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/helm-ai/core/main.py
WorkingDirectory=/home/pi/helm-ai
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
